Repository wix/react-native-calendars, pull requests merged in 2020-01, with the labels that each got.

#746 Added options to use 'onVisibleMonthsChange' directly from <Agenda />
  src/agenda/index.js
Labels: Agenda

#530 feat(calendar/header): add disableArrowLeft/disableArrowRight props
  README.md
  src/calendar/header/index.js
  src/calendar/header/style.js
  src/calendar/index.js
  src/style.js
Labels: Header

#1023 Test id for calendar knob
  src/agenda/index.js
  src/testIDs.js
Labels: Agenda

#1040 Fix React Native v0.62 issue
  src/agenda/index.js
Labels: merge-candidate

#792 Add headingLevel prop to allow for aria-level for web rendering
  src/calendar/header/index.js
  src/calendar/index.js
Labels: Header, Web

#1044 Fix undefined height in expandableCalendar
  src/expandableCalendar/index.js
Labels: merge-candidate
